
#content {
    padding-top: 100px;
    padding-bottom: 100px;
}

/*
Pagination
 */
#pagination {
    margin: 10px 10px 10px 10px;
}

.card, #navigation, #toolbar > .card {
    box-shadow: 7px 5px 5px #9b9898;
}