.headline {
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
    border: none;
}

.align-container {
    align-items: center;
}

.main-container {
    font-family: "Times New Roman", Times, serif;
    font-size: 15pt;
    margin: 0 auto;
    max-width: 30cm;
}